 @import url('https://fonts.googleapis.com/css2?family=Phudu:wght@300;400;500;600;700;800;900&display=swap');

 body {
   font-size: 15px;
   color: #fff;
   font-weight: 500;
   line-height: 1.6;
   position: relative;
   background-size: cover;
   background-position: 50%;
   height: 100%;
   width: 100%;
   background-color: #111;
   padding: 40px 0;
 }

 .profile-img img {
   width: 62%;
   display: block;
   margin: 0 auto;
   position: relative;
   border: 4px solid #0000004d;
   border-radius: 20px;
 }

 body:before {
   content: "";
   background-color: #ffc107;
   position: fixed;
   height: 200%;
   width: 100%;
   transform: rotate(-15deg);
   left: -85%;
   top: -49%;
 }

 section.head {
   padding: 100px 0;
 }

 section.head h1 {
   color: #fcbf07;
   font-family: 'Phudu', cursive;
   font-size: 60px;
 }

 section.head h2 {
   font-family: 'Phudu', cursive;
   font-size: 44px;
 }

 section.fixed-sec ul {
   position: fixed;
   z-index: 999;
   top: 23%;
   right: 26px;
   list-style: none;
 }

 section.fixed-sec ul li {
   padding: 7px 0;
   font-size: 18px;
 }

 section.fixed-sec ul li a {
   color: white;
   background-color: #514c4c8c;
   border-radius: 50px;
   margin-bottom: 10px;
   display: block;
   width: 50px;
   height: 50px;
   line-height: 50px;
   text-align: center;
 }

 section.fixed-sec ul li a:hover {
   background-color: #fff;
   color: #000;
   transition: .2s linear;
 }

 body {
   overflow: hidden;
 }

 @media (max-width:767px) {
   section.head {
     padding: 0;
   }

   body:before {
     content: "";
     background-color: #ffc10769;
     position: fixed;
     height: 200%;
     width: 100%;
     transform: rotate(-15deg);
     left: -96%;
     top: -49%;
   }

   body {
     overflow: auto !important;
   }

   .profile-img img {
     width: 100%;
   }

   section.head h1,
   section.head h2 {
     font-size: 36px;
     margin-top: 20px;
   }

   section.fixed-sec ul {
     top: 25% !important;
     position: static;
     text-align: center;
     padding-left: 0;
   }
   section.fixed-sec ul li {
     display: inline-block;
     margin: 0 11px;
   }

   section.head {
     text-align: center;
   }
 }