.activee{
    background-color: red;
    z-index: 111111111;
}
body{
    /*background-color: #f3f3f3 !important;*/
    background: url(../img/copywall.jpg) fixed;
}
html{
    scroll-behavior: smooth;
}
@font-face {
    src:url(../KaushanScript-Regular.ttf);
    font-family: kscript;
}
.navbar {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 5px;
}

/*
headeer top
*/
.topbar{
  background-color:#000;
  padding: 0;
}

.topbar .container .row {
  margin:-7px;
  padding:0;
}

.topbar .container .row .col-md-12 { 
  padding:0;
}

.topbar p{
  margin:0;
  display:inline-block;
  font-size: 13px;
  color: #f1f6ff;
}

.topbar p > i{
  margin-right:5px;
}
.topbar p:last-child{
  text-align:right;
} 

header .navbar {
    margin-bottom: 0;
}

.topbar li.topbar {
    display: inline;
    padding-right: 18px;
    line-height: 52px;
    transition: all .3s linear;
}

.topbar li.topbar:hover {
    color: #1bbde8;
}

.topbar ul.info i {
    color: #131313;
    font-style: normal;
    margin-right: 8px;
    display: inline-block;
    position: relative;
    top: 4px;
}

.topbar ul.info li {
    float: right;
    padding-left: 30px;
    color: #ffffff;
    font-size: 13px;
    line-height: 44px;
}

.topbar ul.info i span {
    color: #aaa;
    font-size: 13px;
    font-weight: 400;
    line-height: 50px;
    padding-left: 18px;
}

ul.social-network {
  border:none;
  margin:0;
  padding:0;
}

ul.social-network li {
  border:none;  
  margin:0;
}

ul.social-network li i {
  margin:0;
}

ul.social-network li {
    display:inline;
    /*margin: 0 5px;*/
    border: 0px solid #2D2D2D;
    /*padding: 5px 0 0;*/
    width: 25px;
    display: inline-block;
    text-align: center;
    height: 32px;
    vertical-align: baseline;
    color: #000;
}

ul.social-network {
  list-style: none;
  /*margin: 5px 0 10px -45px;*/
  float: right;
}

.waves-effect {
    position: relative;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    vertical-align: middle;
    z-index: 1;
    will-change: opacity, transform;
    transition: .3s ease-out;
    color: #fff;
}
a {
  color: #0a0a0a;
  text-decoration: none;
}

li {
    list-style-type: none;
}

.bg-dark {
    background-color: #222!important;
}

.mx-background-top-linear {
    /*background: -webkit-linear-gradient(45deg, #54d400 48%, #1b1e21 48%);*/
    /*background: -webkit-linear-gradient(left, #54d400 48%, #1b1e21 48%);*/
    background:black;
}

.bb ,.line{
	font-size: 29px;
	font-weight: lighter;
	color: white;
}
.nav-link{
	font-size: 25px;
	font-weight: bold;
}
.social-network{
	float: left !important;
}

/*banner*/
.banner{
}

.banner-det{
    background-color: rgba(0, 0, 0, 0.88);
    padding:20px;
	/*position: absolute;*/
	margin-top: 50px;
	z-index: 111;
}
.brief span{
	font-size: 25px;
}
.brief strong{
	font-size: 30px;
}
.brief p{
	font-size: 20px;
}
.modal-backdrop.show{
	opacity: 0 !important;
	z-index: -111;
}
/*banner*/
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */
.clearfix{
    /*position: relative;*/
    /*position: relative !important;*/
    /*position: inherit;*/
}
section{
    background-color: rgba(222, 222, 222, .77);
    color: black;
    z-index: 100000;
    /*color: bold;*/
    font-weight: bold;
    padding:40px;
    /*padding-top: 300px;*/
    text-align: center;
    font-size: 20px;
}


.icon{
    position: relative;
}
.icon i{
    position: absolute;
    top: 68px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background: #41a4f5;
    border:1px solid #41a4f5;
    /*display: inline-block;*/
    width: 100px;
    color: white;
    border-radius: 50px;
    padding:10px;
}
/*.icon i.abs:first-child{*/
    /*background-color: blue;*/

/*}*/
.skills h1{
    font-family: kscript;
}
.skills p{
    font-size: 20px;

}
.skill-det{
    height: 300px;
    line-height: 1.8;
    /*background-color: red;*/
    border:1px solid black;
    border-radius: 10px;
    margin-top: 100px;
    padding:;
    /*margin-top: 100px !important;*/
}
.skill-det h3{
    margin-top: 50px;
}
.skill-det ul{
    padding:0;
}
.skill-det ul li i{
    color: green;
    
}
.skill-det ul li{
    margin-bottom: 6px;
}
hr{
    margin-top: 30px;
    /*font-weight: bold;*/
    border:1px solid #cebdbd;
}
.developer h3{
    font-family: kscript;
    font-size: 40px;
    font-weight: bold;
}
.developer strong{
    color: #304d6b;
    font-family: arial;
}
.layout{
    margin-top: 30px;
    position: relative;
    height: 300px;
    overflow: hidden;
} 
.layout img{
    width: 100% !important;
    height: 1600px;
}
/**/
.overlay span{
    position: absolute;
    color: white;
    opacity: 0;
    top: 0;
    left:  0;
    right: 0;
    bottom: 0;
    text-align: center;
    transition: all 1s linear;
    font-family: kscript;
    font-size:50px;
}
.overlay:hover span{
    height: 564% !important;
    background-color: rgba(49, 43, 43, 0.4);
    color: #027af1;
    opacity: 1;
    padding-top: 25%;
    /*background-color: rgba( 0 , 0 , 0 ,.5);*/
}
span .mt-5{
    margin-top: 30px;
}
.ecom{
    margin-bottom: 0 !important;
}
footer{
    background-color: #ececec;
    text-align: center;
    padding:10px 0;
}
footer p{
    margin-bottom: 0;
}
.modal-content{
    margin-top: 120px;
}
.modal.fade .modal-dialog{
    padding-right: 0px !important;
}
@media only screen and (max-width: 992px){
    li.nav-item.bb{
        display: none ;
        /*visibility: hidden;*/
    }
    
}
@media only screen and (max-width: 768px){
    .banner-port{
        text-align: center;
        padding-top: 30px;
    }


    .banner-port img{
        /*height: 20% !important;*/
    }
    .brief{
        /*background-color: red;*/
        text-align: center;
    }
   
    li.nav-item.line{
        /*display: none ;*/
        visibility: hidden;
    }
}

.cen{
    padding-right:0;
    /*margin-left: 135px;*/
}
@media only screen and (max-width: 992px){
   .col-sm-10{
    margin-left:31.666666%;
}

.cen{
    padding-right:0;
    /*margin-left: 38px;*/
}   
.cen ul.social-network a i{
    display:block;
    /*background-color: red;*/
    text-align: center !important;
}


@media only screen and (max-width: 600px){
   .col-sm-10{
    margin-left:15.666666%;
}
    .layout img{
        object-fit: cover;
    }
}
@media only screen and (max-width: 400px){
.col-sm-10 {
    margin-left: 9.666666%;
}
